.container {
    min-height: 100vh;
    background: linear-gradient(135deg, #4b0082, #1e3a8a);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    color: white;
}

input {
    padding: 12px 18px;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 1rem;
    outline: none;
}

.containerPlayers {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 12px;
    max-width: 80%;
    justify-content: center;
}

.playerCard {
    background: rgba(255, 255, 255, 0.15);
    padding: 10px 18px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}
