.container {
    text-align: center;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin: auto;
}

.card {
    background: #9fc131;
    border-radius: 10px;
    width: 600px;
    margin: 30px auto 0px;
    width: 600px;
    max-width: 95%;

    display: flex;
    flex-direction: column;
    gap: 6px;

    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12);
    color: var(--color-primary);
    font-weight: 700;

    padding-bottom: 20px;
}

.card h2 {
    margin-bottom: 0;
    font-size: 18px;
}

.card span {
    font-family: "Google Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    padding-left: 20px;
}

.titlePlayer {
    text-align: left;
    padding: 6px 20px 6px 20px;
    background-color: #4c5c16;
    width: fit-content;
    color: white;
    border-radius: 10px 0px 10px 0px;
}