.container {
    padding: 20px;
    text-align: center;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin: auto;
}

.card {
    background: #9fc131;
    border-radius: 10px;
    width: 200px;
    margin: 30px auto 0px;
    width: 600px;
    max-width: 90%;

    display: flex;
    flex-direction: column;
    gap: 6px;

    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12);
    color: var(--color-primary);
    font-weight: 700;
}

.card h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.card ul {
    padding-left: 16px;
    margin: 0;
}

.card li {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}