* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    overscroll-behavior-y: contain;
    overscroll-behavior-x: none;
    height: 100%;
    overflow: hidden;

    font-family: Arial, Helvetica, sans-serif;
}
