@import "./variables.css";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    overscroll-behavior-y: contain;
    overscroll-behavior-x: none;
    height: 100%;
    /* overflow: hidden; */

    font-family: "Cinzel", serif;

    background: linear-gradient(
        to bottom,
        var(--color-primary),
        var(--color-secondary)
    );

    background-attachment: fixed;
}
