.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

/* TÍTULO NO TOPO */
.title {
    text-align: center;
    font-size: 3rem;
    padding: 30px 0;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.678);
    color: var(--text-light);
}

/* CONTEÚDO CENTRAL */
.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .btnHome {
    padding: 16px 50px;
    font-size: 1.2rem;
    border: none;
    border-radius: 14px;
    background: linear-gradient(
        135deg,
        var(--color-accent),
        var(--color-highlight)
    );
    color: white;
    cursor: pointer;

    transition: transform 0.15s ease, box-shadow 0.15s ease;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

.content .btnHome:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
}

.content .btnHome:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.linkbtn {
    color: #f4fbea;
    text-decoration: none;
}

@media (max-width: 768px) {
    .title {
        font-size: 3.8rem;
    }

    .content .btnHome {
        font-size: 1.9rem;
        padding: 24px 80px;
        border-radius: 18px;
    }
}
