/* ShowPerguntas.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    color: #fff;
    font-family: "Arial", sans-serif;
    padding: 20px;
    text-align: center;
}

.container h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.pergunta {
    font-size: 1.9rem;
    margin-bottom: 30px;
    display: block;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.container button {
    padding: 16px 50px;
    font-size: 1.6rem;
    border: none;
    border-radius: 14px;
    background: linear-gradient(
        135deg,
        var(--color-accent),
        var(--color-highlight)
    );
    color: var(--color-primary);
    font-weight: 700;
    cursor: pointer;

    transition: transform 0.15s ease, box-shadow 0.15s ease;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
}

.titleName {
    background-color: #042c3f;
    text-align: center;
    font-size: 40px;
    font-family: "Google Sans", sans-serif;
    border-radius: 15px;
    width: fit-content;
    margin: auto;
    padding: 10px 35px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.671);
}
