.container,
.containerVote {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
    color: #fff;
    text-align: center;
}

.container {
    justify-content: flex-start;
}

.containerVote {
    justify-content: space-between;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.btnVote,
.btnVotePlayer {
    padding: 16px 50px;
    font-size: 1.2rem;
    border: none;
    border-radius: 14px;
    background: linear-gradient(
        135deg,
        var(--color-accent),
        var(--color-highlight)
    );
    color: black;
    cursor: pointer;

    transition: transform 0.15s ease, box-shadow 0.15s ease;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);

    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

.btnVotePlayer {
    width: 500px;
    max-width: 70%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
}

li {
    padding: 0.8rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
}

.impostorButton {
    margin-top: 1.5rem;

    padding: 16px 50px;
    font-size: 1.2rem;
    border: none;
    border-radius: 14px;

    background: linear-gradient(135deg, #ff4b4b, #ff1f1f);

    color: white;
    cursor: pointer;

    transition: transform 0.15s ease, box-shadow 0.15s ease;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);

    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

.impostorRevelado {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    width: max-content;

    font-size: clamp(2.2rem, 5vw, 3.2rem);
    font-weight: 700;
    letter-spacing: 1px;

    color: #ffffff;

    background: rgba(0, 0, 0, 0.35);
    padding: 1.2rem 2rem;
    border-radius: 16px;

    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.45);
}

.titleVote {
    font-family: "Cinzel", serif;
}


